//note that this kind of comment won't make through the preprocessor
/*the standard CSS comments will show up on the output
.css file*/

//imports mixins to this scss file
@import "variables";
@import "mixins";

.title{
  //includes the mixin for list format
  @include titleformat;
}

h1{
  font-size: $ulsize;
 //sets the font for ul (which is then inherited by li)
 font-family:$ulfont;
 //sets the color based on your choice
 color:$ulcolor;
 text-align: center;
}

p{
  font-family: $parfont;
  font-size: $parfont;
  color: $parcolor;
}

.par{
  //includes the mixin for paragraph format below list
  @include parformat;
  //padding for format
  padding: $ulsize;
}
.art{
  max-width: $imgsize;
}
//includes the mixin for grid format
@include grid;
/*formats the grid item*/
    .grid-item {
      background-color:$bgcolorgrit;
      border: 1px solid $bgcolorborder;
      margin:10px;
    }
