//note that this kind of comment won't make through the preprocessor
/*the standard CSS comments will show up on the output
.css file*/

//imports mixins to this scss file
@import "variables";
@import "mixins";

//color format for header + footer
.seperate{
  @include titleformat;
  background-color: $maincolor;
  display: block;
}
.divider{
  padding: $padding;
  display: block;
}
//sets the text properties for header
h1{
  font-size: $headsize;
  font-family:$headfont;
  color:$maincolor;
  text-align: center;
  display: block
}
hr{
  border: $hr solid $maincolor;
}
 
//sets text properties for paragraph text
.par{
  //includes the mixin for paragraph format below list
  @include parformat;
  //padding for format
  padding: $padding;
}
  p{
    font-family: $parfont;
    font-size: $parsize;
    color: $parcolor;
    text-align: center
  }
  .pardiff{
    //sets the color based on different color
    color:$pardiffcolor;
  }

//width property for image. 
.art{
  max-width: $imgsize;
}

//includes the mixin for grid format
@include grid;
/*formats the grid item*/
    .grid-item {
      background-color:$bgcolorgrit;
      border: 1px solid $bgcolorborder;
      margin:10px;
    }
