//typography
$headfont: Georgia;
$headsize: 40px;
$parfont: Garamond;
$parsize: round($headsize*.6);

//colors
$maincolor: #2a1414;
//set color of paragraph
$parcolor: $maincolor;
//alt colors
$pardiffcolor: invert($maincolor);
$headcolordiff: invert($maincolor);
//bg colors for the grid
$bgcolorgrit: invert($maincolor);
$bgcolorgr: invert($maincolor);
$bgcolorborder: adjust-hue($bgcolorgr, 20);

$margin: 30px;
$padding: 30px;

//size of images
$imgsize: 100%;
$hr:round($headsize*.1);

//screensize
$screensmall: 700px;
$screen: 1000px;