//note that this kind of comment won't make through the preprocessor
/*the standard CSS comments will show up on the output
.css file*/

//imports mixins to this scss file
@import "variables";
@import "mixins";

//style formatting for the nav. imports navformat mixin
nav{
  @include navformat;
  display: block;
}
//color format for header + footer. imports titleformat mixin
.seperate{
  @include titleformat;
  background-color: $maincolor;
  display: block;
}
//style formatting for the divider containing the hr.
.divider{
  padding: $padding;
  display: block;
}
//style formatting for the hr
hr{
  border: $hr solid $maincolor;
}

//sets the text properties for header. put this here instead of mixins as it was causing issues otherwise.
h1{
  font-size: $headsize;
  font-family:$headfont;
  color:$maincolor;
  text-align: center;
  display: block
}
//sets text properties for paragraph text in the grid specifically
.par{
  //includes the mixin for paragraph format below list
  @include parformat;
  //padding and alignment for format
  padding-left: $padding;
  padding-right: $padding;
  text-align: center;
  //centers the pargraph text vertically at various screen widths
  @media screen and (min-width: $screensmall){
    position: absolute;
    top: 10%;
    bottom: 15%;
  }
  @media screen and (min-width: $screen){
    position: absolute;
    top: 25%;
    bottom: 25%;
  }
}
//style formatting for the paragraph in general
  p{
    font-family: $parfont;
    font-size: $parsize;
    color: $parcolor;
    text-align: center
  }
  .pardiff{
    //sets the color based on different color
    color:$pardiffcolor;
  }

//width property for image. 
img{
  max-width: $imgsize;
}


//includes the mixin for grid format
@include grid;
/*formats the grid item*/
    .grid-item {
      background-color:$bgcolorgrit;
      border: 1px solid $bgcolorborder;
      margin:10px;
      position: relative;
    }
